@font-face {
    font-family: Larisch-Semibold;
    src: url(../fonts/LarishNeueSemibold.woff);
}

@import "./variables.scss";


.blackBackground {
    background-color: $black;

    p {
        color: $white;
    }
}