@import "./variables.scss";

img {
    width: 200px;
    height: 200px;
}

.blackBackground1 {
    @include background-black;
}

header {
    text-align: center;

    div {
        width: 50%;
        border-right: 0.02rem solid rgb(53, 50, 50);
        height: 20vh;
    }

    h1 {
        font-size: 60px;
        margin-bottom: -3.4vh;
    }

    p {
        &:nth-of-type(1) {
            font-size: 10px;
            margin-top: 5vh;
        }

        &:nth-of-type(2) {
            font-size: 60px;
            color: $black;
            -webkit-text-stroke: 0.9px $white;
        }

        &:nth-of-type(3) {
            font-size: 10px;
        }
    }

    section {
        &:nth-of-type(2) {
            display: flex;
            justify-content: space-between;
            margin-top: 15vh;
            margin-bottom: 20vh;
        }
    }

    img {
        width: 50px;
        height: 40px;
        margin-left: 10%;
    }

    button {
        padding: 5px;
        @include background-black;
        border: 1px solid rgb(141, 136, 136);
        font-weight: 100;
        margin-right: 10%;
        width: 90px;
    }
}

.bigText {
    p {
        &:nth-of-type(1) {
            margin-left: 10%;
            width: 70%;
            @include background-black;
            font-size: 70px;
        }
    }

    section {
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        padding-bottom: 15vh;

        div {
            margin-top: 15vh;

            p {
                margin-top: 3vh;
                font-weight: 100;

                &:nth-of-type(odd) {
                    font-size: 10px;
                }

                &:nth-of-type(even) {
                    font-size: 70px;
                }
            }
        }

        img {
            align-self: flex-start;
            height: 60%;
            width: 40%;
        }
    }
}

.whiteBackground1 .imgFloat {
    text-align: right;
}

.whiteBackground1 {
    img {
        &:nth-of-type(1) {
            margin-top: -15vh;
            margin-right: 10%;
            width: 300px;
            height: 200px;
            margin-bottom: 10vh;
        }
    }

    .stuckInTheMiddle {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;

        img {
            &:nth-of-type(1) {}
        }
    }

}